<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider --><unitTestProvider name="SpecRun" /><plugins>
      <add name="SpecRun" />
    </plugins></specFlow>
  <appSettings>
    <add key="HomeURL" value="http://jbhbftssr004:8080/som/#/Autenticar/Main" />
    <add key="ConsultaObraUrl" value="http://jbhbftssr004:8080/som/#/Autenticar/Obra"/>
    <add key="CadastroObraUrl" value="http://jbhbftssr004:8080/som/#/Autenticar/ObraCadastro"/>
    <add key="CadastroAutorUrl" value="http://jbhbftssr004:8080/som/#/autor/AutorCadastro"/>
    <add key="ConsultaDeAutorUrl" value="http://jbhbftssr004:8080/som/#/autor/Autor"/>
    <add key="CadastroDeDDAUrl" value="http://jbhbftssr004:8080/som/#/DDA/DDACadastro"/>
    <add key="ConsultaDeDDAUrl" value="http://jbhbftssr004:8080/som/#/DDA/DDA"/>
    <add key="CadastrarProdutoUrl" value="http://jbhbftssr004:8080/som/#/produto/ProdutoCadastro"/>
    <add key="BuscaProdutoUrl" value="http://jbhbftssr004:8080/som/#/produto/Produto"/>
    <add key="CadastroDeCueSheet" value="http://jbhbftssr004:8080/som/#/usoReporte/cueSheetCadastro"/>
    <add key="ConsultaDeCueSheetUrl" value="http://jbhbftssr004:8080/som/#/usoReporte/CueSheet"/>
    <add key="DetalheDaCueSheetUrl" value="http://jbhbftssr004:8080/som/#/usoReporte/Detalhe/235820"/>
    <add key="RelatorioUBEMUrl" value="http://jbhbftssr004:8080/som/#/usoReporte/relatorioUBEM"/>
    <add key="CadastroDePedidoUrl" value="http://jbhbftssr004:8080/som/#/pedido/pedidoCadastro"/>
    <add key="ConsultaDePedidoUrl" value="http://jbhbftssr004:8080/som/#/pedido/Pedido"/>
    <add key="CadastroDeTabelaDePrecoUrl" value="http://jbhbftssr004:8080/som/#/tabelaPreco/tabelaPrecoCadastro"/>
    <add key="ConsultaDeTabelaDePrecoUrl" value="http://jbhbftssr004:8080/som/#/tabelaPreco/tabelaPrecoPesquisa"/>
    <add key="AutorizacaoDePagamentoUrl" value="http://jbhbftssr004:8080/som/#/pedido/AutorizacaoPagamento"/>
    <add key="AlterarMidiaUrl" value="http://jbhbftssr004:8080/som/#/midia/Midia"/>
    <add key="CadastrarMidiaUrl" value="http://jbhbftssr004:8080/som/#/midia/MidiaCadastro"/>
    <add key="TransferenciadeAutorUrl" value="http://jbhbftssr004:8080/som/#/autor/AutorTransferencia"/>
    <add key="TransferenciaControleEditorialUrl" value="http://jbhbftssr004:8080/som/#/controleeditorial/ControleEditorialTransferencia"/>
    <add key="TransferenciaDeDDAUrl" value="http://jbhbftssr004:8080/som/#/DDA/DDATransferencia"/>
    <add key="TransferenciaObraUrl" value="http://jbhbftssr004:8080/som/#/Autenticar/ObraTransferencia"/>
  </appSettings>
</configuration>